---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Web <span class="text-gradient">Links</span></h1>
		<p class="instructions">
		Following cards will navigate you to  <code>Praveen's</code> websites and socials.<br />
		<strong>♠️</strong> Average CS student & Gamer.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://www.facebook.com/GeniusIN8"
				title="Facebook"
				body="Just for formalities"
			/>
			<Card
				href="https://twitter.com/GeniusIN8"
				title="Twitter"
				body="Birbs"
			/>
			<Card
				href="https://www.linkedin.com/in/praveen-s-ace/"
				title="Linkedin"
				body="I am jobless so ..."
			/>
			<Card
				href="https://dev.to/geniusin"
				title="DEV"
				body="Always here ❤️"
			/>
			<Card
				href="http://github.com/"
				title="GitHub"
				body="Coming soon"
			/>
			<Card
				href=""
				title="Ok"
				body="This button doesn't work"
			/>
			<Card
				href="https://praveen8ae.netlify.app"
				title="Portfolio Website"
				body="Static AF"
			/>
			<Card
				href="https://images.pling.com/img/00/00/64/33/33/1682575/0-puss-in-boots.jpg"
				title="Ty"
				body="Just tap"
			/>
		</ul>
		<br/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
